
{%
  set classes = [
    'btn',
    'btn--main',
    'btn--big',
  ]
%}
<input{{ attributes.addClass(classes) }} />{{ children }}
{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
