{{ attach_library('bootbase/admin') }}
<div id="manager-menu">
  <div class="toggle-manager">↑↓</div>
  {%
    set classes = [
      'block',
      'block-menu',
      'navigation',
      'menu--' ~ derivative_plugin_id|clean_class,
    ]
  %}
  {% set heading_id = attributes.id ~ '-menu'|clean_id %}
  <nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
    {# Label. If not displayed, we still provide it for screen readers. #}
    {% if not configuration.label_display %}
      {% set title_attributes = title_attributes.addClass('visually-hidden') %}
    {% endif %}
    {{ title_prefix }}
    <h2{{ title_attributes.setAttribute('id', heading_id) }}>{{ configuration.label }}</h2>
    {{ title_suffix }}

      {# Menu. #}
    {% block content %}
      {{ content }}
    {% endblock %}
  </nav>
</div>
